<?xml version="1.0"?>
<config>
    <modules>
        <Cocote_Export>
            <version>0.9.1</version>
        </Cocote_Export>
    </modules>
    <global>
        <models>
            <cocote_export>
                <class>Cocote_Export_Model</class>
            </cocote_export>
        </models>
        <blocks>
            <cocote_export>
                <class>Cocote_Export_Block</class>
            </cocote_export>
        </blocks>
        <helpers>
            <cocote_export>
                <class>Cocote_Export_Helper</class>
            </cocote_export>
        </helpers>
        <resources>
            <cocote_export_setup>
                <setup>
                    <module>Cocote_Export</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </cocote_export_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <cocote_send_order>
                        <class>cocote_export/observer</class>
                        <method>sendOrderToCocote</method>
                    </cocote_send_order>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <cocote_export>
                    <file>cocote.xml</file>
                </cocote_export>
            </updates>
        </layout>
        <product>
            <collection>
                <attributes>
                    <meta_keyword/>
                    <description/>
                </attributes>
            </collection>
        </product>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <cocote_export>
                    <file>cocote.xml</file>
                </cocote_export>
            </updates>
        </layout>
        <translate>
            <modules>
                <cocote_export>
                    <files>
                        <default>Cocote.csv</default>
                    </files>
                </cocote_export>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Cocote_Export before="Mage_Adminhtml">Cocote_Export_Adminhtml</Cocote_Export>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <cocote>
            <catalog>
                <map_name>name</map_name>
                <map_mpn>sku</map_mpn>
                <map_gtin></map_gtin>
                <map_description>description</map_description>
                <map_manufacturer>manufacturer</map_manufacturer>
            </catalog>
            <generate>
                <path>media/feed</path>
            </generate>
        </cocote>
        <payment>
            <cocote>
                <model>cocote_export/payment</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Cocote payment</title>
                <payment_action>sale</payment_action>
                <submit_url>https://fr.cocote.com/paiement</submit_url>
                <merchant_id></merchant_id>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </cocote>
        </payment>
    </default>
    <crontab>
        <jobs>
            <generate_cocote_feed>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cocote_export/observer::generateFeed</model>
                </run>
            </generate_cocote_feed>
        </jobs>
    </crontab>
</config>