<?xml version="1.0"?>
<config>
    <sections>
        <cocote module="cocote_export" translate="label">
            <label>Cocote Export Settings</label>
            <class>cocote-label</class>
            <sort_order>999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>catalog</tab>
            <groups>
                <catalog translate="label">
                    <label>Default values</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <shop_id translate="label,comment">
                            <label>Shop ID</label>
                            <comment>Get your shop ID from your Cocote merchant account</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                        </shop_id>
                        <shop_key translate="label,comment">
                            <label>Private key</label>
                            <comment>Get your private key from your Cocote merchant account</comment>
                            <frontend_type>password</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                        </shop_key>

                        <store translate="label">
                            <label>Default store</label>
                            <frontend_type>select</frontend_type>
                            <source_model>cocote_export/source_stores</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                        </store>
                        <map_name translate="label" >
                            <label>Map name attribute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>cocote_export/source_attributes</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                        </map_name>
                        <map_mpn translate="label" >
                            <label>Map MPN attribute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>cocote_export/source_attributes</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                        </map_mpn>
                        <map_description translate="label" >
                            <label>Map Description attribute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>cocote_export/source_attributes</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                        </map_description>
                        <map_gtin translate="label" >
                            <label>Map Gtin attribute</label>
                            <comment>(European Article Numbering)</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>cocote_export/source_attributes</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                        </map_gtin>
                        <map_manufacturer translate="label" >
                            <label>Map Brand/Manufacturer attribute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>cocote_export/source_attributes</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                        </map_manufacturer>
                    </fields>
                </catalog>
                <generate translate="label">
                    <label>Feed generating</label>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <path translate="label,comment">
                            <label>Generated file path</label>
                            <comment>Directory where feed file will be placed. Counts from base directory. No slashes at the end or begining needed. If folder doesn't exist we'll try to create it</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                        </path>
                        <in_stock_only translate="label,comment">
                            <label>Export only 'in stock' products</label>
                            <frontend_type>checkbox</frontend_type>
                            <frontend_model>cocote_export/adminhtml_system_config_checkboxstock</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                        </in_stock_only>
                        <generate translate="label,comment">
                            <label>Generate feed</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>cocote_export/adminhtml_system_config_buttongenerate</frontend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                        </generate>
                        <link translate="label,comment">
                            <label>Link to feed</label>
                            <comment>Your flow will be regenerated automatically on daily basis at 3 o'clock am</comment>
                            <frontend_type>link</frontend_type>
                            <frontend_model>cocote_export/adminhtml_system_config_link</frontend_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                        </link>
                    </fields>
                </generate>
            </groups>
        </cocote>
    </sections>
</config>