<?xml version="1.0"?>
<config>
    <modules>
        <Cocote_Feed>
            <version>0.9.7</version>
        </Cocote_Feed>
    </modules>
    <global>
        <models>
            <cocote_feed>
                <class>Cocote_Feed_Model</class>
            </cocote_feed>
        </models>
        <blocks>
            <cocote_feed>
                <class>Cocote_Feed_Block</class>
            </cocote_feed>
        </blocks>
        <helpers>
            <cocote_feed>
                <class>Cocote_Feed_Helper</class>
            </cocote_feed>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <cocote_send_order>
                        <class>cocote_feed/observer</class>
                        <method>sendOrderToCocote</method>
                    </cocote_send_order>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <cocote_feed>
                    <file>cocote.xml</file>
                </cocote_feed>
            </updates>
        </layout>
        <product>
            <collection>
                <attributes>
                    <meta_keyword/>
                    <description/>
                </attributes>
            </collection>
        </product>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <cocote_feed>
                    <file>cocote.xml</file>
                </cocote_feed>
            </updates>
        </layout>
        <translate>
            <modules>
                <cocote_feed>
                    <files>
                        <default>Cocote.csv</default>
                    </files>
                </cocote_feed>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Cocote_Feed before="Mage_Adminhtml">Cocote_Feed_Adminhtml</Cocote_Feed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <cocote>
            <catalog>
                <map_name>name</map_name>
                <map_mpn>sku</map_mpn>
                <map_gtin></map_gtin>
                <map_description>description</map_description>
                <map_manufacturer>manufacturer</map_manufacturer>
            </catalog>
            <generate>
                <path>media/feed</path>
            </generate>
        </cocote>
    </default>
    <crontab>
        <jobs>
            <generate_cocote_feed>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cocote_feed/observer::generateFeed</model>
                </run>
            </generate_cocote_feed>
        </jobs>
    </crontab>
</config>