<?xml version="1.0"?>
<config>
    <modules>
        <Cocote_Feed>
            <version>2.0.1</version>
        </Cocote_Feed>
    </modules>
    <global>
        <models>
            <cocote_feed>
                <class>Cocote_Feed_Model</class>
                <resourceModel>cocote_feed_resource</resourceModel>
            </cocote_feed>
            <cocote_feed_resource>
                <class>Cocote_Feed_Model_Resource</class>
                <entities>
                    <product>
                        <table>cocote_product</table>
                    </product>
                </entities>
            </cocote_feed_resource>
        </models>
        <blocks>
            <cocote_feed>
                <class>Cocote_Feed_Block</class>
            </cocote_feed>
        </blocks>
        <helpers>
            <cocote_feed>
                <class>Cocote_Feed_Helper</class>
            </cocote_feed>
        </helpers>
        <resources>
            <cocote_feed_setup>
                <setup>
                    <module>Cocote_Feed</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </cocote_feed_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <cocote_send_order>
                        <class>cocote_feed/observer</class>
                        <method>sendOrderToCocote</method>
                    </cocote_send_order>
                </observers>
            </sales_order_save_after>
            <catalog_product_save_after>
                <observers>
                    <cocote_send_product>
                        <class>cocote_feed/observer</class>
                        <method>afterProductSave</method>
                    </cocote_send_product>
                </observers>
            </catalog_product_save_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <cocote_send_product_qty>
                        <class>cocote_feed/observer</class>
                        <method>afterStockSave</method>
                    </cocote_send_product_qty>
                </observers>
            </cataloginventory_stock_item_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <cocote_feed>
                    <file>cocote.xml</file>
                </cocote_feed>
            </updates>
        </layout>
        <product>
            <collection>
                <attributes>
                    <meta_keyword/>
                    <description/>
                </attributes>
            </collection>
        </product>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <cocote_feed>
                    <file>cocote.xml</file>
                </cocote_feed>
            </updates>
        </layout>
        <translate>
            <modules>
                <cocote_feed>
                    <files>
                        <default>Cocote.csv</default>
                    </files>
                </cocote_feed>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Cocote_Feed before="Mage_Adminhtml">Cocote_Feed_Adminhtml</Cocote_Feed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <cocote>
            <catalog>
                <map_name>name</map_name>
                <map_mpn>sku</map_mpn>
                <map_gtin></map_gtin>
                <map_description>description</map_description>
                <map_manufacturer>manufacturer</map_manufacturer>
                <prefix>COCO</prefix>
            </catalog>
            <generate>
                <path>media/feed</path>
            </generate>
        </cocote>
        <payment>
            <cocote>
                <model>cocote_feed/payment_cocote</model>
                <active>0</active>
                <order_status>pending</order_status>
                <title>cocote</title>
                <payment_action>sale</payment_action>
                <submit_url>https://someurl.com</submit_url>
                <merchant_id>Insert merchant id</merchant_id>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </cocote>
        </payment>
        <carriers>
            <cocote>
                <active>1</active>
                <model>cocote_feed/shipping_cocote</model>
                <title>Cocote</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </cocote>
        </carriers>
    </default>
    <crontab>
        <jobs>
            <generate_cocote_feed>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cocote_feed/observer::generateFeed</model>
                </run>
            </generate_cocote_feed>
        </jobs>
    </crontab>
</config>